* { 
    margin: 0;
    padding: 0;
}  
.header { 
   margin: 10px;
   padding: 10px;
   text-decoration: none;

}

.left-header {
    float: left;

}

.right-header { 
    float: right;

}

.main-logo { 
    text-align: center;
    padding: 10px;

}

.search-submit { 
    text-align: center;
    padding: 20px;

}

.search { 
    border-radius: 50px;
}

.buttons { 
    text-align: center;
    padding: 30px;

}

.left-footer { 
    text-align: left;

}

.right-footer { 
    text-align: right;
    
}